<div>
    <h1>About</h1>
    <p class="lead">Simple memory game player/maker app used as a playground for learning TypeScript and Angular 2 framework.</p>
    <div class="alert alert-warning" role="alert">
        <p class="lead">The app is in active development so not all features are functional or even present.</p>
    </div>
</div>