<div class="card-wrapper">
    <div class="flip" (click)="onSelect()">
        <div class="card" [ngClass]="flipClass">
            <div class="face front">
                <div class="inner">
                    <img src="{{backImageUrl}}">
                </div>
            </div>
            <div class="face back">
                <div class="inner text-center">
                    <h3 *ngIf="text">{{text}}</h3>
                    <img *ngIf="imageUrl" src="{{imageUrl}}">
                    <audio #audioplayer *ngIf="audio" controls>
                        <source src="{{audio.url}}" type="{{audio.type}}"> Your browser does not support audio.
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>