<div>
    <h1>Play the game!</h1>
    <p class="lead">To start pick a game that you want to play:</p>
    <div class="list-group">
        <a *ngFor="let game of games" [routerLink]="['/play', game.id]" class="list-group-item">
            <h4>{{game.title}}</h4>
            <p>{{game.description}}</p>
        </a>
    </div>
    <mmz-error [error]="error"></mmz-error>
</div>