<div>
    <div *ngIf="game">
        <h1>{{game.title}}</h1>
        <p class="lead">{{game.description}}</p>
        <mmz-board [cards]="cards" (cardSelected)="onCardSelected($event)"></mmz-board>
    </div>
    <mmz-error [error]="error"></mmz-error>
</div>