<div>
    <div class="row" *ngFor="let row of cardRows">
        <div class="col-md-4" *ngFor="let card of row">
            <mmz-card [card]="card" (click)="onCardClick(card)"></mmz-card>
        </div>
    </div>
</div>